<header>
    <h1>MIS PRODUCTOS</h1>
</header>
<main>
    {{#if info.session}}
    <section class="logedUser">
        <div>
            <h2>Bienvenido/a {{info.user.firstName}} {{info.user.lastName}}</h2>
            <p>
                mail: {{info.user.correo}} 
                {{#if info.admin}}
                <span>Administrador</span>
                {{/if}}
            </p>
        </div>
        <form action="">
            <button><a href="/api/sessions/logout">LOG-OUT</a></button>
        </form>   
    </section>
    {{else}}
    <section class="notLogedUser">
        <h2>Bienvenido/a</h2>
        <form action="">
            <button><a href="/loginForm">LOG-IN</a></button>
        </form>    
    </section>
    {{/if}}

    <section  class="busqueda">
        <div class="nav">
            {{#if info.hasPrevPage}}
            <a class="btn" href={{info.prevLink}}>Pagina anterior |</a>
            {{else}}
            <a class="btn"></a>
            {{/if}}
            <div class="pagination">
                {{#each info.arrayPages}}
                    <a href={{this.link}} {{#if this.selected}} class="selected_page" {{/if}}>{{this.page}}</a>
                {{/each}}
            </div>
            {{#if info.hasNextPage}}
            <a class="btn" href={{info.nextLink}}>| Pagina siguiente</a>
            {{else}}
            <a class="btn" ></a>
            {{/if}}
        </div>

{{!--         <div class="filtros">
            <div>
                <p>productos por disponibilidad: </p>
                <select id="status">
                        <option value=null>Todos los productos</option>
                        <option value="true">Disponibles</option>
                        <option value="false">No disponibles </option>
                </select>
            </div>

            <div>
                <p>Productos por ofertas: </p>
                <select id="onSale">
                        <option value="false">Todos los productos</option>
                        <option value="true">Productos OnSale</option>
                </select>
            </div>

            <div>
                <p>Categorías </p>
                <select id="caregory">
                    <option value=null>Todas</option>
                    <option value=1>dormitorio</option>
                    <option value=2>living</option>
                    <option value=3>oficina</option>
                    <option value=4>comedor</option>
                </select>
            </div>

            <div>
                <p>limite de prods por página:  </p>
                <input type="text">
                <button>Aplicar</button>
            </div>

            <div>
                <p>Ordenar precios por:</p>
                <select id="orden">
                        <option value=null>Sin Orden</option>
                        <option value="asc">Ascendente</option>
                        <option value="des">Descendente</option>
                </select>
            </div>

            <div>
                <p>Selecciona el carrito:</p>
                <select name="" id="">
                    {{#each products.cartsId}}
                        <option value={{this}}>{{this}}</option>
                    {{/each}}
                </select>
            </div> --}}
        </div>
    </section>

    <div class="cardsContainer">
        {{#each info.payload}}
        <div {{#if this.status}} class="card statusTrue" {{else}} class="card statusFalse" {{/if}}  >
            <p><span>Titulo</span>: {{this.title}}</p>
            <p><span>Precio</span>: {{this.price}}</p>
            <p><span>descuento</span>: {{this.descuento}} %</p>
            {{!-- <p><span>ID</span>: {{this.id}}</p> --}}
            <p><span>Stock</span>: {{this.stock}}</p>
            <p><span>Estado</span>: {{this.status}}</p>
            
            {{#if ../info.session}}
                {{#if ../info.admin}}

                {{else}}
                <form action="/api/carts/{{../info.user.cart}}/products/{{this.id}}" method="POST">
                    <button class="btaAdd" id={{this.id}}>Agregar al carrito</button>
                </form>
                {{/if}}
            {{/if}}

        </div>
        {{/each}}
    </div>
</main>
<footer>
    
</footer>

<script src="js/index.js"></script>

