<header>
    <h1>MIS PRODUCTOS</h1>
</header>
<main>
    {{#if info.session}}
    <section class="logedUser">
        <div>
            <h2>Bienvenido/a {{info.user.firstName}} {{info.user.lastName}}</h2>
            <p>
                mail: {{info.user.correo}} 
                {{#if info.admin}}
                <span>Administrador</span>
                {{/if}}
            </p>
        </div>
        <form action="">
            <button><a href="/api/sessions/logout">LOG-OUT</a></button>
        </form>   
    </section>
    {{else}}
    <section class="notLogedUser">
        <h2>Bienvenido/a</h2>
        <form action="">
            <button><a href="/loginForm">LOG-IN</a></button>
        </form>    
    </section>
    {{/if}}

    <section  class="busqueda">
        <div class="nav">
            {{#if info.hasPrevPage}}
            <a class="btn" href={{info.prevLink}}>Pagina anterior |</a>
            {{else}}
            <a class="btn"></a>
            {{/if}}
            <div class="pagination">
                {{#each info.arrayPages}}
                    <a href={{this.link}} {{#if this.selected}} class="selected_page" {{/if}}>{{this.page}}</a>
                {{/each}}
            </div>
            {{#if info.hasNextPage}}
            <a class="btn" href={{info.nextLink}}>| Pagina siguiente</a>
            {{else}}
            <a class="btn" ></a>
            {{/if}}
        </div>

    </section>

    <div class="cardsContainer">
        {{#each info.payload}}
        <div {{#if this.status}} class="card statusTrue" {{else}} class="card statusFalse" {{/if}}  >
            <p><span>Titulo</span>: {{this.title}}</p>
            <p><span>Precio</span>: {{this.price}}</p>
            <p><span>descuento</span>: {{this.descuento}} %</p>
            {{!-- <p><span>ID</span>: {{this.id}}</p> --}}
            <p><span>Stock</span>: {{this.stock}}</p>
            <p><span>Estado</span>: {{this.status}}</p>
            
            {{#if ../info.session}}
                {{#if ../info.admin}}

                {{else}}
                <form action="/api/carts/{{../info.user.cart}}/products/{{this.id}}" method="POST">
                    <button class="btaAdd" id={{this.id}}>Agregar al carrito</button>
                </form>
                {{/if}}
            {{/if}}

        </div>
        {{/each}}
    </div>
</main>
<footer>
    
</footer>

<script src="js/index.js"></script>

